.touris {
	@include size(100%);
	background: url('../images/bg_footer.png') no-repeat center;

	&__title {
		font: 400 36px Aleo, sans-serif;
		color: #FFF;
		margin-top: 120px;
		text-align: center;
	}

	&__foto {
		margin-top: 100px;
		margin-bottom: 180px;
	}

	&__text {
		font: 400 20px Josefin Sans, sans-serif;
		margin-top: 100px;
		color: #FFF;
		background: #333;
		margin-bottom: 180px;


		&-title {
			margin-top: 50px;
		}

		&-text {
			font: 400 16px Aleo, sans-serif;
			margin-top: 50px;
		}
	}
}
